<a href="https://colab.research.google.com/github/s23912/pad/blob/main/PAD_LAB_02_ZADANIE_DOMOWE_pawel_ungier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Pawel Ungier [s23912]
#Zadanie domowe PAD_LAB_02

In [3]:
import pandas as pd
path='/content/drive/MyDrive/PAD/PAD_02/Zadanie_domowe/PAD_02_PD.csv'

In [4]:
df=pd.read_csv(path,sep=';')

In [5]:
df.head()

   ID Country  owns_car  owns_TV  owns_house  owns_Phone gender  Age
0   1       A       0.0      0.0         0.0           1      M   61
1   2       B       0.0      0.0         0.0           1      M   44
2   3       A       0.0      0.0         0.0           1      M   56
3   4       A       0.0      0.0         0.0           1      M   53
4   5       C       1.0      1.0         0.0           1      K   60

In [6]:
#Zadanie 1
#Oblicz liczebność każdej z wartości w zmiennej COUNTRY. 
df.count()
df.keys()
df.shape
df['Country'].value_counts()

A    328
B    201
C    186
D     78
Name: Country, dtype: int64

In [7]:
#Zadanie 2
#Stwórz zmienną, która będzie informowała o liczbie posiadanych dóbr.
df['wealth_quantity']=df['owns_car']+df['owns_TV']+df['owns_house']+df['owns_Phone']
df.head()

   ID Country  owns_car  owns_TV  ...  owns_Phone  gender Age  wealth_quantity
0   1       A       0.0      0.0  ...           1       M  61              1.0
1   2       B       0.0      0.0  ...           1       M  44              1.0
2   3       A       0.0      0.0  ...           1       M  56              1.0
3   4       A       0.0      0.0  ...           1       M  53              1.0
4   5       C       1.0      1.0  ...           1       K  60              3.0

[5 rows x 9 columns]

In [8]:
#Zadanie 3
#Porównaj średnią posiadanych dóbr między kobietami i mężczyznami.
print('Średnia dóbr wśród mężczyzn',df[df['gender']=='M']['wealth_quantity'].mean())
print('Średnia dóbr wśród kobiet',df[df['gender']=='K']['wealth_quantity'].mean())

Średnia dóbr wśród mężczyzn 0.8875
Średnia dóbr wśród kobiet 2.7974025974025976

In [9]:
#Zadanie 4
#Stwórz ramkę danych, która zawierać będzie w pierwszej kolumnie wartość zmiennej COUNTRY, 
#w drugiej kolumnie, średnią posiadanych dóbr w danym kraju, 
#w trzeciej kolumnie minimum wieku, a czwartej kolumnie odsetek kobiet.

In [10]:
#Pierwsza kolumna
countries=['A','B','C','D']
new_df=pd.DataFrame(countries)
new_df

   0
0  A
1  B
2  C
3  D

In [16]:
#Druga kolumna 
tmp=df.groupby(by='Country')['wealth_quantity'].mean() #sprawdzamy jakie są średnie
tmp

Country
A    0.861538
B    1.461929
C    3.032787
D    4.000000
Name: wealth_quantity, dtype: float64

In [12]:
df_mean = df.groupby(by='Country').mean() #przypisujemy średnie dla krajów

def code(x):
  if x['Country']=='A':
    return df_mean.loc['A']['wealth_quantity']
  elif x['Country']=='B':
    return df_mean.loc['B']['wealth_quantity']
  elif x['Country']=='C':
    return df_mean.loc['C']['wealth_quantity']
  else:
    return df_mean.loc['D']['wealth_quantity']
    
#wykorzystamy funkcję apply

In [14]:
#Trzecia kolumna
tmp3=df.groupby(by='Country')['Age'].min()
tmp3

Country
A    18
B    18
C    18
D    18
Name: Age, dtype: int64

In [23]:
#Czwarta kolumna
country_A = df[df["Country"]=="A"]
fK = country_A[country_A["gender"]=="K"] # kobiety w country A
len(fK)/len(country_A)

0.0

In [24]:
country_B = df[df["Country"]=="B"]
fK = country_B[country_B["gender"]=="K"] # kobiety w country B
len(fK)/len(country_B)

0.6218905472636815

In [25]:
country_C = df[df["Country"]=="C"]
fK = country_C[country_C["gender"]=="K"] # kobiety w country C
len(fK)/len(country_C)

0.989247311827957

In [26]:
country_D = df[df["Country"]=="D"]
fK = country_D[country_D["gender"]=="K"] # kobiety w country D
len(fK)/len(country_D)

1.0